/*selec all the anchor links inside a nav tag*/
nav a{
    color: #0006CC;
}
/*select all the anchor links which must be a child of the nav tag*/
nav > a{
    color:#0006CC
}
/*select all the elements must be as same level and follow each other*/
h1+ol{
    color: #0006CC;
}
/*select only the element with id=id1*/
#id1{
    font-family: Arial, Helvetica, sans-serif;
}
/*select the element in belong to the class=class1*/
.class1{
    font-size: 150%;
}
/*select of the anchor link with exact hyper references to info.html*/
a[href="info.html"]{
    font-size: 150%;
}
/*
^: match the beginning exactly
a[href^='https://umich']
$: match the end exactly
img[src$='.png']
*: wildcard
a[href*='umich'*/


/*browser prefix
-webkit-: Android, Chrome, iOS, Safari
-moz-:Firefox
-ms-:Internet Exploxer
-o-: Oprera

Some of often unsupported properties
- column-count
- border-radius
- gradient
-site such as https://caniuse.com/ will tell you
when you need to use prefixes*/

/*chèn ảnh bị crop tránh ảnh bị stretch*/
img{
    object-fit: cover;
    object-position: 50% 50%;
}

div{
    color: #000000; 
    background: #2db34a; 
    line-height: 20px; 
    text-align: center;
    width: 250px; 
    height: 250px; 
    border-radius: 6px;
    transition-property: color, width, background, border-radius;
    transition-duration: .5s;
    transition-timing-function: linear;
    transition-delay: .5s;
    /*short hand
    transition: background .2s linear, border-radius 1s ease_in 1s*/
}
div:hover{
    color: #ffffff;
    width: 350px;
    background: #2D31B5;
    border-radius: 50%;
}
div:active{
    color: #000000;
    width: 150px;
    background: #00DDB3;
}
/*
2D transform options
- translate: 
    example transform:translate (100,75) move to right 100 and move down 75
- rotate: 
    example transform:rotate (30deg) forlow the direct of clock
- scale:
    example transform:scale(2,3) 2*width and 3*height
- skew
    example transform:skew(30deg, 15deg)rotate the element 30degree along x axis, 
    and next rotate 15degree along y axis
- matrix: combine all of the 2D transform methods into one
     
3D rotate
-transform:rotateY(deg)
-transform:rotateX(deg)
-transform:rotateZ(deg)
-transform:rotate3d(x,y,z)
*/
/*offpage*/
.offpage{
    position: absolute;
    left: -1000px;
}